/* Basic styling for the body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #e77777;
}

/* Style for the header */
header {
    background-color: #080303;
    color: rgb(248, 134, 134);
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

/* Style for the navigation menu */
nav {
    background-color: #b997f8;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: rgb(250, 168, 168);
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Style for the sections */
section {
    margin: 20px;
    padding: 10px;
    background-color: rgb(241, 161, 161);
    border-radius: 5px;
}

section h2 {
    margin-top: 0;
}

/* Style for the footer */
footer {
    background-color: #030000;
    color: rgb(245, 3, 3);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
